body {
    background-color: papayawhip;
  }
  h1 {
    color: blue;
    text-align: center;      
  }

  p { color: black;
  }


  .center1 {
        display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }

  .center2 {margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
        font-family: arial;
        border-collapse: collapse;
        border-style: dotted;
        width: 50%;
        empty-cells: hide;
  }
  
    td, th {
        border: 2px solid #ca000044;
        text-align: left;
        padding: 8px;
        vertical-align: bottom;
  }
  
    tr:hover {background-color: turquoise;}
    tr:nth-child(even) {background-color: #ffadadd7;
  }


    ol {
        background: lightsteelblue;
        padding: 10px;
        width: 50%
  }
  
    ol li {
        background: lightcyan;
        color: black;
        padding: 5px;
        margin-left: 15px;
        width: 90%
  }

  .catbg1{
        background: url(catnyeh1.png) no-repeat center center fixed;
        opacity:1;
        float: left;
        position:absolute;
        background-size: cover;
        -moz-background-size: cover;
        background-position: center;
        background-repeat: round;
        -webkit-background-size: cover;
        -o-background-size: cover;
  }

 * { box-sizing: border-box; }

  .column1 { float: left;
    width: 30%;
    padding: 5px;
  }
  
  .side1::after { content: "";
    clear: both;
    display: table;
  }

  .blink{
        color: #fff;
        padding: 8px;
        animation-delay: 0ms;
        animation-direction:reverse;
        animation-play-state:running;
        display: inline-block;
        border-radius: 4px;
        animation: colorchange 2s infinite;
        animation-iteration-count: 50;

  }
  @keyframes colorchange{
      0%		{ background-color: #4af753;}
      25%		{ background-color: #4585e6;}
      50%		{ background-color: #ef0a1a;}
      75%		{ background-color: #e66daf;}
      100%	    { background-color: #ffa845;}
  }


